@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:500|Manjari&display=swap');

html {
    font-size: 100%;
    font-family: 'Manjari', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Hepta Slab', serif;
}

h1 {
    font-weight: 100;
}

h2 {
    font-weight: 100;
}

p {
    font-family: 'Hepta Slab', serif;
    font-weight: normal;
    margin-bottom: 1em;
}

nav {
    margin-bottom: 4rem;
}

.no-margin-top {
    margin-top: 0;
}

.messages {
    overflow-y: auto;
    height: 400px;
}


.messageBox {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
    display: inline-block;
    width: 45%;
}

.sentText {
    font-weight: 900;
}